#include <windows.h>
#include "resource.h"

IDI_RETROPAD ICON "res/retropad.ico"

IDC_RETROPAD MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N",            IDM_FILE_NEW
        MENUITEM "&Open...\tCtrl+O",        IDM_FILE_OPEN
        MENUITEM "&Save\tCtrl+S",           IDM_FILE_SAVE
        MENUITEM "Save &As...",             IDM_FILE_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "Page Set&up...",          IDM_FILE_PAGE_SETUP
        MENUITEM "&Print...\tCtrl+P",       IDM_FILE_PRINT
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                   IDM_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo\tCtrl+Z",           IDM_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t\tCtrl+X",            IDM_EDIT_CUT
        MENUITEM "&Copy\tCtrl+C",           IDM_EDIT_COPY
        MENUITEM "&Paste\tCtrl+V",          IDM_EDIT_PASTE
        MENUITEM "&Delete\tDel",            IDM_EDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Find...\tCtrl+F",        IDM_EDIT_FIND
        MENUITEM "Find &Next\tF3",          IDM_EDIT_FIND_NEXT
        MENUITEM "&Replace...\tCtrl+H",     IDM_EDIT_REPLACE
        MENUITEM "&Go To...\tCtrl+G",       IDM_EDIT_GOTO
        MENUITEM SEPARATOR
        MENUITEM "Select &All\tCtrl+A",     IDM_EDIT_SELECT_ALL
        MENUITEM "Time/&Date\tF5",          IDM_EDIT_TIME_DATE
    END
    POPUP "F&ormat"
    BEGIN
        MENUITEM "&Word Wrap",              IDM_FORMAT_WORD_WRAP
        MENUITEM "&Font...",                IDM_FORMAT_FONT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Status Bar",             IDM_VIEW_STATUS_BAR, CHECKED
        POPUP "&Theme"
        BEGIN
            MENUITEM "&Light",              IDM_THEME_LIGHT
            MENUITEM "&Dark",               IDM_THEME_DARK
            MENUITEM SEPARATOR
            MENUITEM "&Customize...",       IDM_THEME_CUSTOM
        END
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "View &Help",              IDM_HELP_VIEW_HELP
        MENUITEM "&About retropad",         IDM_HELP_ABOUT
    END
END

IDC_RETROPAD ACCELERATORS
BEGIN
    "^N",       IDM_FILE_NEW,       VIRTKEY, CONTROL
    "^O",       IDM_FILE_OPEN,      VIRTKEY, CONTROL
    "^S",       IDM_FILE_SAVE,      VIRTKEY, CONTROL
    "^P",       IDM_FILE_PRINT,     VIRTKEY, CONTROL
    "^Z",       IDM_EDIT_UNDO,      VIRTKEY, CONTROL
    "^X",       IDM_EDIT_CUT,       VIRTKEY, CONTROL
    "^C",       IDM_EDIT_COPY,      VIRTKEY, CONTROL
    "^V",       IDM_EDIT_PASTE,     VIRTKEY, CONTROL
    VK_DELETE,  IDM_EDIT_DELETE,    VIRTKEY
    "^F",       IDM_EDIT_FIND,      VIRTKEY, CONTROL
    VK_F3,      IDM_EDIT_FIND_NEXT, VIRTKEY
    "^H",       IDM_EDIT_REPLACE,   VIRTKEY, CONTROL
    "^G",       IDM_EDIT_GOTO,      VIRTKEY, CONTROL
    "^A",       IDM_EDIT_SELECT_ALL,VIRTKEY, CONTROL
    VK_F5,      IDM_EDIT_TIME_DATE, VIRTKEY
END

IDD_GOTO DIALOGEX 0, 0, 200, 80
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Go To Line"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Line number:", -1, 10, 12, 60, 10
    EDITTEXT        IDC_GOTO_EDIT, 80, 10, 100, 14, ES_NUMBER | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 60, 44, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 120, 44, 50, 14
END

IDD_CUSTOMIZE DIALOGEX 0, 0, 200, 122
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Customize Theme"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT    "Text color",        -1, 12, 14, 70, 10
    CONTROL  "", IDC_CUST_TEXT,       "Button", BS_OWNERDRAW | WS_TABSTOP, 96, 12, 84, 14
    LTEXT    "Background",        -1, 12, 34, 70, 10
    CONTROL  "", IDC_CUST_BG,         "Button", BS_OWNERDRAW | WS_TABSTOP, 96, 32, 84, 14
    LTEXT    "Status bar",        -1, 12, 54, 70, 10
    CONTROL  "", IDC_CUST_STATUSBG,   "Button", BS_OWNERDRAW | WS_TABSTOP, 96, 52, 84, 14
    LTEXT    "Status text",       -1, 12, 74, 70, 10
    CONTROL  "", IDC_CUST_STATUSTEXT, "Button", BS_OWNERDRAW | WS_TABSTOP, 96, 72, 84, 14
    DEFPUSHBUTTON "OK",     IDOK,     46, 98, 50, 14
    PUSHBUTTON    "Cancel", IDCANCEL, 104, 98, 50, 14
END

IDD_ABOUT DIALOGEX 0, 0, 200, 92
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About retropad"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "retropad\nA Petzold-style Notepad clone.\nWin32 / C implementation.", -1, 12, 12, 176, 32
    LTEXT "© 2025", -1, 12, 48, 60, 10
    DEFPUSHBUTTON "OK", IDOK, 74, 64, 52, 14
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "retropad"
            VALUE "FileDescription", "retropad text editor"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "retropad.exe"
            VALUE "OriginalFilename", "retropad.exe"
            VALUE "ProductName", "retropad"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
